html, body {
  background: #e3e3d8;
  font-family: sans-serif;
  padding: 25px;
}
.listTitle {
  display: flex;
  justify-content: center;
}
.listContainer {
  display: flex;
  flex-wrap: wrap;
}
.wrapper {
  width: 20%;
  height: 450px;
  background: white;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
}
.wrapper:hover {
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}
.wrapper .container {
  width: 100%;
  height: 100%;
}
.wrapper .container .top {
  height: 80%;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
.wrapper .container .top img{
  height: 100%;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  object-fit: cover;
}
.wrapper .container .bottom {
  width: 100%;
  height: 20%;
  transition: transform 0.5s;
}
.wrapper .container .bottom.clicked {
  transform: translateX(-50%);
}
.wrapper .container .bottom p {
  margin: 0;
  padding: 0;
  font-size: 1.4em;
}
.wrapper .container .bottom .left {
  height: 100%;
  width: 100%;
  background: #f4f4f4;
  position: relative;
  float: left;
}
.wrapper .container .bottom .left .details {
  float: left;
  width: calc(70% - 10px);
  display: flex;
  justify-content: flex-start;
  height: inherit;
  align-items: center;
  padding-left: 10px;
}
.wrapper .container .bottom .left .go {
  float: right;
  width: calc(30% - 2px);
  height: 100%;
  background: #f1f1f1;
  transition: background 0.5s;
  border-left: solid thin rgba(0, 0, 0, 0.1);
}
.wrapper .container .bottom .left .go svg {
  font-size: 30px;
  padding: 30px;
  transition: transform 0.5s;
}
.wrapper .container .bottom .left .go:hover {
  background: #a6cdde;
}
.wrapper .container .bottom .left .go:hover svg {
  transform: translateY(5px);
  color: #00394b;
}
.wrapper .container .bottom .right {
  width: 50%;
  background: #a6cdde;
  color: white;
  float: right;
  height: 200%;
  overflow: hidden;
}
.wrapper .container .bottom .right .details {
  padding: 20px;
  float: right;
  width: calc(70% - 40px);
}
.wrapper .inside {
  z-index: 9;
  background: #92879b;
  width: 140px;
  height: 140px;
  position: absolute;
  top: -70px;
  right: -70px;
  border-radius: 0px 0px 200px 200px;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
}
.wrapper .inside .icon {
  position: absolute;
  right: 86px;
  top: 88px;
  color: white;
  opacity: 1;
}
.wrapper .inside .icon svg {
  height: 1.5em;
  width: 1.5em;
}
.wrapper .inside:hover {
  width: 100%;
  right: 0;
  top: 0;
  border-radius: 0;
  height: 80%;
}
.wrapper .inside:hover .icon {
  opacity: 0;
  right: 15px;
  top: 15px;
}
.wrapper .inside:hover .contents {
  opacity: 1;
  transform: scale(1);
  transform: translateY(0);
}
.wrapper .inside .contents {
  padding: 5%;
  opacity: 0;
  transform: scale(0.5);
  transform: translateY(-200%);
  transition: opacity 0.2s, transform 0.8s;
}
.wrapper .inside .contents table {
  text-align: left;
  width: 100%;
}
.wrapper .inside .contents h1, .wrapper .inside .contents p, .wrapper .inside .contents table {
  color: white;
}
.wrapper .inside .contents p {
  font-size: 13px;
}

.moreButton {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
}

.moreButton button {
  padding: 15px 40px;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid #92879b;
  border-radius: 15px;
  background-color: #92879b;
  color: white;
}
.moreButton .nothingShown {
  padding: 15px 40px;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid #92879b;
  border-radius: 15px;
  background-color: white;
  color: #92879b;
}

.loading {
  display: flex;
  justify-content: center;
}

.loading .load-wrapp {
  float: left;
  width: 100px;
  margin: 0 10px 10px 0;
  padding: 20px 20px 20px;
  border-radius: 5px;
  text-align: center;
}

.loading .square {
  width: 12px;
  height: 12px;
  border-radius: 4px;
  background-color: #92879b;
}

.loading .load .square {
  animation: loading 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}

@keyframes loading {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(70px, 0) rotate(360deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
