@font-face {
  font-family: 'Bello Pro';
  src: url('../public/BelloPro.otf') format('truetype'); 
}

html, body {
  background: #e3e3d8;
  font-family: initial;
}

/*Home Page CSS*/

.listTitle {
  display: flex;
  justify-content: center;
  font-family:"Bello Pro", sans-serif;
  text-shadow: 1px 1px 0 #92879b, 2px 2px 0 #92879b, 3px 3px 0 #92879b, 4px 4px 0 #92879b, 5px 5px 0 #92879b, 6px 6px 0 #92879b, 7px 7px 0 #92879b;
  color: white;
  font-size: 45px;
}
.searchArea{
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.searchArea #searchBar {
  padding: 20px;
  border-radius: 40px;
  width: 70%;
  background: #92879b30;
  color: white;
  font-size: 20px;
  border: 3px solid #92879b;
}
.searchArea #searchBar:focus {
  background: rgba(146, 135, 155, 0.656);  
  border: 3px solid #f7f7f7;
  outline: unset;
}
.searchArea #searchBar:focus::placeholder {
  color: #f7f7f7;
}
.listContainer {
  display: flex;
  flex-wrap: wrap;
}
.wrapper {
  width: 20%;
  height: 450px;
  background: white;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
}
.wrapper:hover {
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}
.wrapper .container {
  width: 100%;
  height: 100%;
}
.wrapper .container .top {
  height: 80%;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
.wrapper .container .top img{
  height: 100%;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  object-fit: cover;
}
.wrapper .container .bottom {
  width: 100%;
  height: 20%;
  transition: transform 0.5s;
}
.wrapper .container .bottom.clicked {
  transform: translateX(-50%);
}
.wrapper .container .bottom p {
  margin: 0;
  padding: 0;
  font-size: 1.4em;
}
.wrapper .container .bottom .left {
  height: 100%;
  width: 100%;
  background: #f4f4f4;
  position: relative;
  float: left;
}
.wrapper .container .bottom .left .details {
  float: left;
  width: calc(70% - 10px);
  display: flex;
  justify-content: flex-start;
  height: inherit;
  align-items: center;
  padding-left: 10px;
}
.wrapper .container .bottom .left .go {
  float: right;
  width: calc(30% - 2px);
  height: 100%;
  background: #f1f1f1;
  transition: background 0.5s;
  border-left: solid thin rgba(0, 0, 0, 0.1);
  color: black;
}
.wrapper .container .bottom .left .go svg {
  font-size: 30px;
  padding: 30px;
  transition: transform 0.5s;
}
.wrapper .container .bottom .left .go:hover {
  background: #a6cdde;
}
.wrapper .container .bottom .left .go:hover svg {
  transform: translateY(5px);
  color: #00394b;
}
.wrapper .container .bottom .right {
  width: 50%;
  background: #a6cdde;
  color: white;
  float: right;
  height: 200%;
  overflow: hidden;
}
.wrapper .container .bottom .right .details {
  padding: 20px;
  float: right;
  width: calc(70% - 40px);
}
.wrapper .inside {
  z-index: 9;
  background: #92879b;
  width: 140px;
  height: 140px;
  position: absolute;
  top: -70px;
  right: -70px;
  border-radius: 0px 0px 200px 200px;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
}
.wrapper .inside .icon {
  position: absolute;
  right: 86px;
  top: 88px;
  color: white;
  opacity: 1;
}
.wrapper .inside .icon svg {
  height: 1.5em;
  width: 1.5em;
}
.wrapper .inside:hover {
  width: 100%;
  right: 0;
  top: 0;
  border-radius: 0;
  height: 80%;
}
.wrapper .inside:hover .icon {
  opacity: 0;
  right: 15px;
  top: 15px;
}
.wrapper .inside:hover .contents {
  opacity: 1;
  transform: scale(1);
  transform: translateY(0);
}
.wrapper .inside .contents {
  padding: 5%;
  opacity: 0;
  transform: scale(0.5);
  transform: translateY(-200%);
  transition: opacity 0.2s, transform 0.8s;
}
.wrapper .inside .contents table {
  text-align: left;
  width: 100%;
}
.wrapper .inside .contents h1, .wrapper .inside .contents p, .wrapper .inside .contents table {
  color: white;
}
.wrapper .inside .contents p {
  font-size: 13px;
}

.moreButton {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
}

.moreButton button {
  padding: 15px 40px;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid #92879b;
  border-radius: 15px;
  background-color: #92879b;
  color: white;
}
.moreButton .nothingShown {
  padding: 15px 40px;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid #92879b;
  border-radius: 15px;
  background-color: white;
  color: #92879b;
}

.loading {
  display: flex;
  justify-content: center;
}

.loading .load-wrapp {
  float: left;
  width: 100px;
  margin: 0 10px 10px 0;
  padding: 20px 20px 20px;
  border-radius: 5px;
  text-align: center;
}

.loading .square {
  width: 12px;
  height: 12px;
  border-radius: 4px;
  background-color: #92879b;
}

.loading .load .square {
  animation: loading 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}

@keyframes loading {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(70px, 0) rotate(360deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}


/*Detail Page CSS*/

.detail-content {
  display: grid;
  grid-template-areas: "navigation cocktail-recipe cocktail-image" "context context cocktail-image";
  grid-template-columns: min-content auto 35%;
  grid-template-rows: auto min-content;
  margin: auto;
  min-height: 100vh;
  max-height: calc(100vh - 4em);
  background: #fff;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}
.context__wrapper {
  grid-area: context;
  background: #f7f7f7;
  color: #333;
  padding: 15px 20px;
  font: 400 10px "Raleway", sans-serif;
  display: grid;
  align-items: center;
  grid-template-columns: auto max-content;
}
.navigation {
  grid-area: navigation;
  border-right: 1px solid #eee;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: #dbc7b1;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 20px;
  font: 16px "Playfair Display", serif;
  text-align: center;
}
.cocktail-image {
  grid-area: cocktail-image;
}
.cocktail-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cocktail-name {
  font: 900 45px Raleway;
  text-transform: uppercase;
  margin: 20px 0 5px;
  letter-spacing: 2px;
  color: #92879b;
  position: relative;
}
.cocktail-serving {
  font: 400 16px Raleway;
  color: #92879b;
  margin: 20px 0;
  max-width: 300px;
}
.cocktail-serving svg {
  width: 35px;
  height: 35px;
}
.cocktail-serving svg path {
  fill: #92879b;
}
.cocktail-serving p {
  display: inline-block;
  vertical-align: top;
  margin: 12px 6px 6px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #92879b;
}
::-webkit-scrollbar-thumb:hover {
  background: #424043;
}
.cocktail-recipe {
  grid-area: cocktail-recipe;
  color: #999;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 5px;
  max-height: 100%;
  padding: 50px 60px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 30px auto;
  line-height: 1.6;
}
.cocktail-recipe__title {
  grid-column: span 2;
}
.cocktail-recipe__ingredients {
  grid-column: span 2;
  display: flex;
  flex-wrap: wrap;
}
.cocktail-recipe__ingredients__item {
  flex: 1;
  padding: 0 40px 0 0;
}
.cocktail-recipe__ingredients__item h4 {
  font: italic 18.1818181818px "Playfair Display", serif;
  color: #d69762;
  margin: 0 0 10px;
  margin-top: 30px;
}
.cocktail-recipe__ingredients__item ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.cocktail-recipe__ingredients__item ul li {
  padding: 5px 0;
}


.cocktail-recipe__number {
  font: italic 30px "Playfair Display", serif;
  color: #d69762;
}
.cocktail-recipe__steps {
  padding-right: 35px;
}
.cocktail-recipe__subtitle {
  font: italic 30px "Playfair Display", serif;
  color: #92879b;
  margin: 45px 0 10px;
  grid-column: span 2;
}
.cocktail-recipe__tips {
  grid-column: span 2;
  margin-top: 65px;
  position: relative;
  border: 2px solid #92879b;
  box-shadow: inset 0 0 0 2px #fff, inset 0 0 0 4px #92879b;
  text-align: center;
  padding: 35px;
}
.cocktail-recipe__tips svg {
  display: inline-block;
  padding: 10px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: -40px;
  width: auto;
  background: #fff;
  width: 60px;
  fill: #92879b;
}
.cocktail-recipe__tips h4 {
  font: 900 24px Raleway;
  text-transform: uppercase;
  margin: 10px 0 15px;
  color: #543b2e;
}

.navigate-back {
  cursor: pointer;
}

.navigate-back svg{
  height: 2em;
  width: 2em;
}

/*Footer Area Style*/

footer {
  text-align: right;
  width: 100%;
}
footer a {
  text-decoration: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  border: 1px dashed #333;
  color: #333;
  margin: 0 3px;
}
footer a:hover {
  background: rgba(0, 0, 0, 0.05);
}
.footer a svg {
  height: 100%;
  width: 100%;
}

